[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no
[ req_distinguished_name ]
countryName                 = NL
stateOrProvinceName         = .
localityName               = .
organizationName           = Brewblox
commonName                 = .
[ req_ext ]
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1   = *.local
DNS.2   = raspberrypi.local
DNS.3   = raspberrypi
